@import '~antd/dist/antd.css';

#-layout {
    
    background: rgba(13, 33, 218, 0.3);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  }
  
  .site-layout .site-layout-background {
    background: rgb(119, 121, 223);
  }
